body{
  font-family: sans-serif;
  background-color: black;
}
#conatiner{
  height: auto;
  /* 42.1875rem */
  width: auto;
  /* 87.5rem */
  margin: 1.25rem auto;
  background-image:url(images/back.png);;
}
#calculator{
  width: 20rem;
  height: auto;
  /* 32.5rem */
  background-color: #eaedef;
  margin:0 auto;
  position: relative;
  top: 4.375rem;
  border-radius: 0.3125rem;
}

#result{
  height: 7.5rem;
}
#history{
  text-align: right;
  height: 1.25rem;
  margin: 0 1.25rem;
  padding-top: 1.25rem;
  font-size: 0.9375rem;
  color: #919191;
}
#output{
  text-align: right;
  height: 3.75rem;
  margin: 0.625rem 1.25rem;
  font-size: 1.875rem;
}
#keyboard{
  height: 25rem;
}

.operator , .number , .empty{
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.9375rem;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 0.9345rem;
}
.number , .empty{
  background-color: #eaedef;
}
.number , .operator{
  cursor: pointer;
}
.operator:active , .number:active{
  font-size: 0.75rem;
}
.operator:focus, .number:focus, .empty:focus{
  outline: 0;
}

button:nth-child(4){
  font-size: 1.25rem;
  background-color: #20b2aa;
}
button:nth-child(8){
  font-size: 1.25rem;
  background-color: #ffa500;
}
button:nth-child(12){
  font-size: 1.25rem;
  background-color: #f08080;
}
button:nth-child(16){
  font-size: 1.25rem;
  background-color: #7d93e0;
}
button:nth-child(20){
  font-size: 1.25rem;
  background-color: #9477af;
}
